body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

a {
  color: purple;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
}

img {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

input {
  border-radius: 5px;
  height: 100%;
  text-align: center;
  margin: 3px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.poll-name-container {
  display: flex;
  justify-content: center;
}

.add-poll {
  margin: 10px 0 10px 0;
}

.inline {
  display: inline-block;
}

button, .submit {
  background: rgb(85, 117, 237);
  border-radius: 5px;
  margin: 0 3px 0 3px;
}

.poll-container {
  width: 480px;
  margin: 0 0 15px 0;
  align-items: center;
  flex-grow: 1;
}

.poll-buttons {
  display: flex;
  justify-content: center;
}

.poll-sort {
  margin: 0 10px 0 10px;

}

.poll-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

tr {
  height: 50px;
}

td {
  padding: 0 10px 0 0;
}

.poll-name {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: rgb(85, 117, 237);
}

.avatar {
  width: 250px;
}

.vote-avatar {
  width: 50px;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  width: 60vw;
  height: 100vh;
  margin-top: 80px;
}
